extends base

block content
    div.login
        h1 Register a new account:
        p.error=error
        form.form(action='/register', method='post')
            div.controls
                label(for='email') Email:
                input#email(type='text', name='_email', value='')
            div.controls
                label(for='username') Username:
                input#username(type='text', name='_username', value='')
            div.controls
                label(for='password') Password:
                input#password(type='password', name='_password', value='')
            div.controls
                label(for='password') Re-Password:
                input#password2(type='password', name='_password2', value='')
            input.button(type='submit')
